.job-d {
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 1.54%, rgba(152, 115, 255, 0.05) 101.54%);
}

.cart-details {
    width: 370px;
    height: 400px;
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.1) 0%, rgba(152, 115, 255, 0.1) 100%);
    border-radius: 8px;
}
@media (max-width: 576px) {
    .cart-details{
        width: 100%;
    }
}